* {
  font-family: 'Barlow', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("images/shelf.jpg");
    background-position: center;
}

.top-part {
  height: 9%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 13px 10px -15px #111; 
  border-bottom: 5px solid #000000;
  gap: 1rem;
}


.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3.5rem;
    background-color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    color: #945542;
}

.headline > h2 {
    margin: 0;
}

.add-button{
  background-color: #000000;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  height: 3rem;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.add-button:hover {
  background-color: #242527;
  transform: translateY(-2px);
}

.bottom-part {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  flex: 1;
}

.add-form {
  grid-area: 1;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
}

.inputs {
  width: 50%;
}

.bookshelf {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.5rem;
  z-index: 0;
  padding: 3%;
}

.bookitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border: 10px inset #A4A4A4;
  border-radius: 9px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}

.bookitem > p {
  font-size: 1.8rem;
  margin: 0;
}

.deletebutton {
  background-color: #814330;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  height: 2.3rem;
  width: 65%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.deletebutton:hover {
  background-color: #242527;
  transform: translateY(-2px);
}

.bookitem > button:last-of-type {
  background-color: #643324;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  height: 4.5rem;
  width: 65%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.bookitem > button:last-of-type:hover {
  background-color: #242527;
  transform: translateY(-2px);
}

.formdiv {
  width: 25%;
  height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 10px inset #ffadad;
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
}

.formdiv > form {
  height: 100%;
  margin: 1.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-template-areas: 
    "author authorform"
    "title titleform"
    "pages pagesform"
    "read readform"
    ". submit";
}

.formdiv > form > p:first-child{
  grid-area: author;
}

.formdiv > form > p:nth-child(2n) {
  grid-area: title;
}

.formdiv > form  > p:nth-child(3n) {
  grid-area: pages;
}

.formdiv > form  > p:nth-child(4n) {
  grid-area: read;
}

.formdiv > form  > input:first-child {
  grid-area: authorform;
}

.formdiv > form > input:nth-child(2n)  {
  grid-area: titleform;
}

.formdiv > form > input:nth-child(4n) {
  grid-area: readform;
}

.formdiv > form > input:last-child {
  grid-area: submit;
}

.formdiv > form > p {
  margin: 0;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.formdiv > form > input {
  height: 1.5rem;
}

.formdiv > form > input:last-of-type {
  align-self: flex-start;
}