* {
  font-family: 'Barlow', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("images/shelf.jpg");
    background-position: center;
}

.top-part {
  height: 9%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0px 13px 10px -15px #111; 
  border-bottom: 5px solid #000000;
  gap: 15px;
}


.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3.5rem;
    background-color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    color: #945542;
}

.headline > h2 {
    margin: 0;
}

.add-button{
  background-color: #000000;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  width: 10%;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.add-button:hover {
  background-color: #242527;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .add-button {
    padding: 16px 44px;
    min-width: 150px;
  }
}

.bottom-part {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  flex: 1;
}

.add-form {
  grid-area: 1;
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
}

.inputs {
  width: 50%;
}

.bookshelf {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.5rem;
  z-index: 2;
  padding: 3%;
}

.bookitem {
  background-color: #fff;
  border: 10px inset #A4A4A4;
  border-radius: 9px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}

.formdiv {
  width: 25%;
  height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 10px inset #ffadad;
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
}

.formdiv > form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
