body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("images/shelf.jpg");
    background-position: center;
}

.top-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 3.5rem;
    width: 100%;
    background-color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    color: #945542;
}

.headline > h2 {
    margin: 0;
}

.add-button{
  background-color: #000000;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  width: 10%;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.add-button:hover {
  background-color: #242527;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .add-button {
    padding: 16px 44px;
    min-width: 150px;
  }
}

.add-form {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.inputs {
  width: 50%;
}

.bookshelf {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.formdiv {
  width: 25%;
  height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid red;
  
}

.formdiv > form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bookitem {
  height: 50px;
  width: 50px;
}